<!DOCTYPE html>
<html>
<head>
    <title>Student Management System</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" >
</head>
<body>
    <div class="container">
        <h1>Student Management System</h1>
        <input
            type="text" id="name" placeholder="Student Name"><br><br>
        <input
            type="number"
            id="age"
            placeholder="Age"
        ><br><br>
        <input
            type="text"
            id="course"
            placeholder="Course"
        ><br><br>
        <input
            type="number"
            id="grade"
            placeholder="Grade"
        ><br><br>
        <input
            type="text"
            id="blood_group"
            placeholder="blood_group"
        ><br><br>
        <button onclick="addStudent()">
            Add Student
        </button>
        <button onclick="viewStudents()">
            View Students
        </button>
        <h2>Student List</h2>
        <ul id="studentList">
        </ul>
    </div>
    <script
        src="{{ url_for('static',filename='script.js') }}"
    ></script>
</body>
</html>